.button {
    display: flex;
    justify-content: center;
    
}
.btnbutton {
    justify-content: center;
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    margin-top:200px;
    margin-left: 25%;
    display: none;
}
#errorAlert, #noItem, #errorFirst {
    display: none;
}